body {
  margin: 0;
  padding: 0;
  background: url(starwars.jpg) no-repeat;
  background-size: cover;
}

.boxnav{
  font-family:'Century Gothic',sans-serif;
}

.box{
  border-radius: 15px;
  width:450px;
  background:rgba(0,0,0,0.4);
  padding:40px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color:white;
  font-family:'Century Gothic',sans-serif;
}

.box-img{
  border-radius : 50%;
  width: 200px;
  height : 200px;
}

.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 50;
}

.box h5{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p{
  font-size: 14px;
  text-align: justify;

}

ul{
  margin: 0;
  padding: 0;
}

.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.box li a:hover{
  color: #cacaca;
}

ul.navbarlist {
  border-radius: 15px;
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0,0,0,0.4);
}

li.navbardown {
  float: left;
}

li.navbardown a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

li.navbardown a:hover:not(.active) {
  border-radius: 15px;
  background-color: #ddd;
}

li.navbardown a.active {
  border-radius: 15px;
  color: white;
  background-color: #4CAF50;
}